* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.css-c86xtv-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100%;
}

.css-9qafy7-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100%;
}

.hedroG {
  width: 100% !important;
}